.hover-effect::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    background-color: #1c1e21;
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease, top 0.3s ease;
    z-index: 0;
    color: #fff;
}

.hover-effect:hover::before {
    top: 50%;
    width: 200%;
    height: 200%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.hover-effect span, .hover-effect i {
    position: relative;
    z-index: 1;
    /* color: #fff; */
}